.OpMenu {
  display: flex;
  justify-content: flex-start;
  margin: 34px auto;
  max-width: 1171px;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .tab {
    padding: 8px 18px !important;
    font-size: 15px !important;
  }
}
.tab {
  padding: 8px 24px;
  outline: none;
  background-color: #f1f1f1;
  color: #000;
  cursor: pointer;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
  border: 1px solid #cecece;
  flex-shrink: 0;
}

.tab.active {
  background-color: #ff8a1e;
  color: #000;
  border: 1px solid #b65700;
}

.tab:hover {
  background-color: #ddd;
}

.tabcontent {
  max-width: 1171px;
  margin: 0 auto;
}

.tabcontent h2 {
  margin-bottom: 10px;
}

.tabcontent p {
  font-size: 18px;
  line-height: 1.2;
}
