.olaeusou, .davimordonho, .paragrafoQuemSou {
    font-style: normal;
    margin: 0px;
   }
  .olaeusou {
    font-weight: 600;
    font-size: 55px;
    line-height: 69px;
  
    color: #2F2F2F;
  }
  .paragrafoQuemSou {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
  
    color: #636363;
  
    width: 388px;
    height: 42px; 
  
    margin-top: 17px;
  }
  .QuemSou {
    display: flex;
    align-items: center;
    padding-top: 70px;
    justify-content: space-between;
    padding-bottom: 70px;
  
    max-width: 1171px; 
    margin: 0 auto;
  }
  .davimordonho {
    font-weight: 700;
    font-size: 58px;
    line-height: 73px;
    margin-top: -10px;
  
    color: #FBA720;
  }
  .saberMais {
    width: 143px;
    border-radius: 15px;
    background-color: #2F2F2F;
    border: none;
    color: #FFAA21;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
        
    width: 143px;
    height: 44px;
    left: 131px;
    top: 390px;
  
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  
    margin-top: 30px;
   }  
   .saberMais:active {
    background-color: #F0F0F1;
   }   
   .saberMais span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }   
   .saberMais span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
   }   
   .saberMais:hover span {
    padding-right: 15px;
   }   
   .saberMais:hover span:after {
    opacity: 1;
    right: 0;
   }
   .habilidades {
    background-color: #FBA720;
    width: 100%;
    padding-top: 30px;
   }  
   .habilidades h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    
    max-width: 1171px;
    margin: 0 auto;
   }
   .bloco1, .bloco2, .bloco3 {
    display: flex;
    justify-content: space-between;
  
    max-width: 1122px;
    margin: 0 auto;
   }  
   .bloco1, .bloco2 {
    padding-top: 50px;
   }
   .iconAndName {
    display: flex;
    align-items: center;
    width: 130px;
   }  
   .iconAndName p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    padding-left: 15px;
   }
   .linha2 {
    left: 477px;
    top: 1622px;
    height: 1px;  
    background: #2F2F2F;
    border: 1px solid;  
    max-width: 1100px;
    margin: 0 auto;
   }
   .linha3 {
    left: 477px;
    top: 1622px;
    background: #2F2F2F;
    border: 1px solid;  
    max-width: 831px;
    margin: 0 auto;  
    margin-bottom: 40px;
   }
   .linha {
    border-radius: 20px;
    background: #2F2F2F;
    max-width: 1086px;  
    border: 1px solid;
    margin: 0 auto;
   }
   .meusProjetos {
    padding-top: 80px;
    padding-bottom: 75px;  
    max-width: 1171px;
    margin: 0 auto;
   }  
   .meusProjetos button {  
    background: #2F2F2F;
    color: #FFAA21;  
    width: 189px;
    height: 44px;
    left: 939px;
    top: 1517px;  
    border-radius: 25px;
    border: none;  
    display: flex;
    margin: auto;  
    justify-content: center;
    align-items: center;  
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;  
    cursor: pointer;
    transition: ease 0.3s;
   }  
   .meusProjetos button:hover {
    background: #FBA720;
    color: #2F2F2F;
   }  
   .meusProjetos button:active {
    background-color: #F0F0F1;
   }
   .meusProjetos h1 {
    margin: 0;
  }
  .projetos {
    display: flex;
    justify-content: space-between;  
    padding-top: 30px;
    padding-bottom: 30px;
   }  
   .contatos {
    width: 292px;
    height: 88px;
    left: 887px;
    top: 1657px;  
    text-align: center;  
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;  
    margin: 0 auto;
   }
   .contatos p {
    margin-top: 35px; 
   }
 .redes {
    max-width: 450px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    margin-bottom: 75px;
   }  
   .redes img {
    cursor: pointer;
    border-radius: 15px;
   }
   .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0e76a8;
  color: #fff;
}
.wrapper .Instagram:hover,
.wrapper .Instagram:hover .tooltip,
.wrapper .Instagram:hover .tooltip::before {
  background: #E1306C;
  color: #fff;
}
.wrapper .Whatsapp:hover,
.wrapper .Whatsapp:hover .tooltip,
.wrapper .Whatsapp:hover .tooltip::before {
  background: #00BB2D;
  color: #fff;
}
.wrapper .Email:hover,
.wrapper .Email:hover .tooltip,
.wrapper .Email:hover .tooltip::before {
  background: #4285F4;
  color: #fff;
}
.wrapper .GitHub:hover,
.wrapper .GitHub:hover .tooltip,
.wrapper .GitHub:hover .tooltip::before {
  background: #dadada;
  color: #000;
}
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  